.img {
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 20px;
  width: 350px;
  height: 480px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  padding: 10px;
}

.img-loader {
  width: 350px;
  height: 480px;
  background:
    linear-gradient(0.25turn, transparent, #FFF, transparent),
    linear-gradient(#DDD, #DDD);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 480px 480px, 480px 480px, 100px 15px;
  background-position: -480px 0, 0 0, 15px 150px;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  to {
    background-position: 480px 0, 0 0, 15px 150px;
  }
}