.button {
  width: 200px;
  height: 64px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #000000;
  cursor: pointer;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
}

.flat {
  color: #ffffff;
  border: none;
  background-color: var(--emerald-500);
}

.flat:hover {
  background-color: var(--emerald-600);
}

.flat:active {
  background-color: var(--emerald-700);
}

.flat:disabled {
  cursor: default;
  background-color: var(--emerald-100);
  color: var(--emerald-400);
}

.outline {
  border-color: var(--emerald-600);
  color: var(--emerald-600);
}

.outline:hover {
  border-color: var(--emerald-700);
  color: var(--emerald-700);
}

.outline:active {
  border-color: var(--emerald-800);
  color: var(--emerald-800);
}

.outline:disabled {
  cursor: default;
  border-color: var(--emerald-300);
  color: var(--emerald-300);
}