.wrapper {
  padding: 1rem;
  width: 100%;
  max-width: 400px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--emerald-200);
  border-radius: 2rem;
  word-break: break-all;
  border: 4px solid var(--emerald-400);
}

.last {
  border: 4px solid var(--emerald-900);
  animation-duration: 3s;
  animation-name: blink;
}

@keyframes blink {
  from {
    background-color: var(--emerald-950)
  }

  to {
    background-color: var(--emerald-200)
  }
}

.empty {
  font-size: 3rem;
  padding: 20px;
  text-align: center;
}

.link {
  text-decoration: none;
  font-size: 3rem;
  color: var(--emerald-500);
}

.link:hover {
  color: var(--emerald-900);
}