.block {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  background-color: var(--emerald-500);
  border-radius: 50%;
  cursor: pointer;
}

.block:hover {
  background-color: var(--emerald-400);
}

.svg {
  width: 44px;
  height: auto;
}