.header {
  display: flex;
  width: 100%;
  background-color: var(--emerald-100);
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 9998;
}

.wrapper {
  max-width: var(--content);
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
}