.card {
  width: 400px;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--emerald-800);
  color: #ffffff;
  font-size: 2rem;
  height: 100%;
}

.card:hover {
  transform: scale(1.02);
}

.description {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  padding: 10px;
}